<?xml version="1.0" encoding="utf-8"?>

<configuration>
<configSections>
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
</configSections>

<appSettings>
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AWSProfileName" value="Mario"/>
</appSettings>
  
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-HLSite-20141212025000.mdf;Initial Catalog=aspnet-HLSite-20141212025000;Integrated Security=True"
  providerName="System.Data.SqlClient" />
</connectionStrings>
  
<system.web>
<authentication mode="Windows" />
  
 <!-- Set this off post development, must be on during though. GZIP is now applied. -->
<compilation debug="true" targetFramework="4.5" />
<httpRuntime targetFramework="4.5" requestValidationMode="2.0" requestPathInvalidCharacters="" enableVersionHeader="false" relaxedUrlToFileSystemMapping="true" />
  
  <!--
<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
<error statusCode="403" redirect="NoAccess.htm" />
<error statusCode="404" redirect="FileNotFound.htm" />
</customErrors> --> 
  
<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
<error statusCode="404" redirect="404.html" />
</customErrors>
  
<pages>
<namespaces>
<add namespace="System.Web.Optimization" />
<add namespace="Microsoft.AspNet.Identity" />
</namespaces>
<controls>
<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
</controls>
</pages>
    
  <!--
  If you are deploying to a cloud environment that has multiple web server instances,
  you should change session state mode from "InProc" to "Custom". In addition,
  change the connection string named "DefaultConnection" to connect to an instance
  of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
  -->
<sessionState mode="InProc" customProvider="DefaultSessionProvider">
<providers>
  <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
</providers>
</sessionState>
  <!-- httpCookies httpOnlyCookies setting defines whether cookies 
       should be exposed to client side scripts
       false (Default): client side code can access cookies
       true: client side code cannot access cookies
       Require SSL is situational, you can also define the 
       domain of cookies with optional "domain" property -->
  <httpCookies httpOnlyCookies="true" requireSSL="false"/>
</system.web>
 
<system.webServer>
  
  <!-- GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes -->
  <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
  <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
<staticTypes>
  <add mimeType="text/*" enabled="true" />
  <add mimeType="message/*" enabled="true" />
  <add mimeType="application/javascript" enabled="true" />
  <add mimeType="application/json" enabled="true" />
  <add mimeType="*/*" enabled="false" />
</staticTypes>
</httpCompression>

<httpErrors existingResponse="PassThrough" errorMode="Custom">
  <!-- Catch IIS 404 error due to paths that exist but shouldn't be served (e.g. /controllers, /global.asax) or IIS request filtering (e.g. bin, web.config, app_code, app_globalresources, app_localresources, app_webreferences, app_data, app_browsers) -->
  <remove statusCode="404" subStatusCode="-1" />
  <error statusCode="404" subStatusCode="-1" path="/notfound" responseMode="ExecuteURL" />
  <remove statusCode="500" subStatusCode="-1" />
  <error statusCode="500" subStatusCode="-1" path="/error" responseMode="ExecuteURL" />
</httpErrors>

<directoryBrowse enabled="false" />
<validation validateIntegratedModeConfiguration="false" />

  <!-- Microsoft sets runAllManagedModulesForAllRequests to true by default
  You should handle this according to need, but consider the performance hit.
  Good source of reference on this matter: http://www.west-wind.com/weblog/posts/2012/Oct/25/Caveats-with-the-runAllManagedModulesForAllRequests-in-IIS-78
  -->
  <modules runAllManagedModulesForAllRequests="false" />

<urlCompression doStaticCompression="true" doDynamicCompression="true" />
<staticContent>
    <!-- Set expire headers to 30 days for static content-->
    <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    <!-- use utf-8 encoding for anything served text/plain or text/html -->
    <remove fileExtension=".css" />
    <mimeMap fileExtension=".css" mimeType="text/css" />
    <remove fileExtension=".js" />
    <mimeMap fileExtension=".js" mimeType="text/javascript" />
    <remove fileExtension=".json" />
    <mimeMap fileExtension=".json" mimeType="application/json" />
    <remove fileExtension=".rss" />
    <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
    <remove fileExtension=".html" />
    <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
    <remove fileExtension=".xml" />
    <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
    <!-- HTML5 Audio/Video mime types-->
    <remove fileExtension=".mp3" />
    <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
    <remove fileExtension=".mp4" />
    <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
    <remove fileExtension=".ogg" />
    <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
    <remove fileExtension=".ogv" />
    <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
    <remove fileExtension=".webm" />
    <mimeMap fileExtension=".webm" mimeType="video/webm" />
    <!-- Proper svg serving. Required for svg webfonts on iPad -->
    <remove fileExtension=".svg" />
    <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    <remove fileExtension=".svgz" />
    <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
    <!-- HTML4 Web font mime types -->
    <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
    <remove fileExtension=".eot" />
    <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
    <remove fileExtension=".ttf" />
    <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
    <remove fileExtension=".ttc" />
    <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf" />
    <remove fileExtension=".otf" />
    <mimeMap fileExtension=".otf" mimeType="font/opentype" />
    <remove fileExtension=".woff" />
    <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    <remove fileExtension=".crx" />
    <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
    <remove fileExtension=".xpi" />
    <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
    <remove fileExtension=".safariextz" />
    <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
    <!-- Flash Video mime types-->
    <remove fileExtension=".flv" />
    <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
    <remove fileExtension=".f4v" />
    <mimeMap fileExtension=".f4v" mimeType="video/mp4" />
    <!-- Assorted types -->
    <remove fileExtension=".ico" />
    <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
    <remove fileExtension=".webp" />
    <mimeMap fileExtension=".webp" mimeType="image/webp" />
    <remove fileExtension=".htc" />
    <mimeMap fileExtension=".htc" mimeType="text/x-component" />
    <remove fileExtension=".vcf" />
    <mimeMap fileExtension=".vcf" mimeType="text/x-vcard" />
    <remove fileExtension=".torrent" />
    <mimeMap fileExtension=".torrent" mimeType="application/x-bittorrent" />
    <remove fileExtension=".cur" />
    <mimeMap fileExtension=".cur" mimeType="image/x-icon" />
    <remove fileExtension=".webapp" />
    <mimeMap fileExtension=".webapp" mimeType="application/x-web-app-manifest+json; charset=UTF-8" />
</staticContent>

<httpProtocol>
<customHeaders>
  <add name="X-XSS-Protection" value="1; mode=block"/>
  <add name="X-Content-Type-Options" value="nosniff" />
  <remove name="X-Powered-By" />
  <add name="X-Powered-By" value="Jon Snuuuh" />
</customHeaders>
</httpProtocol>

  
</system.webServer>
  
<runtime>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
  <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
  <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
  <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
  <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
  </dependentAssembly>
  <dependentAssembly>
  <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
  <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
</dependentAssembly>
</assemblyBinding>
</runtime>
<entityFramework>
    
  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
  <parameters>
  <parameter value="v11.0" />
  </parameters>
  </defaultConnectionFactory>
  <providers>
  <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
</providers>
    
</entityFramework>
</configuration>
