/* Hume's Landscape Service */
/* #foo {} will style the single element declared with an attribute id="foo"
.foo {} will style all elements with an attribute class="foo" (you can have multiple classes assigned to an element too, just separate them with spaces, e.g. class="foo bar")
*/

/* 982 body, 21 margins*/
/* Miscellaneous */
#top-line {
    height: 20px;
    background-color: #5F0C1A;
    
}
    

#nav-bg {width:100%; background-color:#261906; background-position-x:center; background-position-y:center; position:relative}
ul {list-style-type:none;}
li a {color:#CDC9B0; padding-left:20px;}


/* Navbar */
#header {
    height:110px;
    margin:0 auto;
    width:982px;
}
#nav-leftpic img {
    float:left;
    margin-top:5px;
    width:200px; 
    height:100px;
}
#nav-contents {
    margin: 0 auto;
    color:black;
    width:600px;
}
#nav-contents ul { /* Contains margin-left of 60px. */

    margin-top: 60px;
    
}
#nav-rightpic img {
    float:right;
    margin-top:5px;
    width:50px;
    height:75px;

}

/* Animated Image Details*/
.cf-container{
    
    position:relative;
    background-repeat:no-repeat;
    width:100%;
    height:450px;

}

/* Home Content */








/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    border-color:red;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

















/*Picture fade in-out code below. Add -moz, -o, and regular equivalents. */
#cf {

}

#cf img {
   position: absolute;
   width:100%;
   height:100%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  
}

@-webkit-keyframes cfFadeInOut {
  0% {
    opacity:1;
  }
  15% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  90% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#cf img.fade {
   -webkit-animation-name: cfFadeInOut;
   -webkit-animation-timing-function:ease-in-out;
   -webkit-animation-duration: 20s;           /* t=(a+b)*n where a = image screentime, b is cross fade time, n #pics         3s per pic, 2s cross fade for testing,  20=(3+2)*4 */
   -webkit-animation-direction:normal;
   -webkit-animation-iteration-count: infinite; 
   
}

#cf img:nth-of-type(1) {
  -webkit-animation-delay: 0s;                /* t/n or a+b */
}
#cf img:nth-of-type(2) {
  -webkit-animation-delay: -5s;
}
#cf img:nth-of-type(3) {
  -webkit-animation-delay: -10s;
}
#cf img:nth-of-type(4) {
  -webkit-animation-delay: -15s;
}
/*Picture fade in out code ends. */

/* Gallery Picture Grid Starts below */
ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
	display: inline-block;
	padding: 0px;       /* Was 5px*/
	margin: 0 0 2.5% 2.5%;
	background: #fff;
     /* Was border: 1px solid #ddd*/
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.rig li img {
	max-width: 100%;
	height: 100%;
	margin: 0 0 10px;
}
ul.rig li h3 {
	margin: 0 0 5px;
}
ul.rig li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}
/* class for 2 columns */
ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
    height:47.5%;
}
/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}
/*class for 5 columns*/
ul.rig.columns-5 li {
	width: 18.5%; /* this value + 2.5 should = 20% */
}
/* class for 6 columns 3 rows */
ul.rig.columns-6 li {
	width: 14.1%; /* this value + 2.5 should = 16.6% */
    height: 30.83%;
}
/*Class for 7 columns*/
ul.rig.columns-7 li {
	width: 11.8%; /* this value + 2.5 should = 14.3% */
}
/* class for 8 columns */
ul.rig.columns-8 li {
	width: 10%; /* this value + 2.5 should = 12.5% */
}
 
@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}
   /* Gallery Picture Grid Ends here*/





















