/* Lists & their drop down lists' messes. Doesn't need to be cluttering main css */

#nav-contents .navbar-nav li a{border-style:hidden !important; color:#EBEADE}
li:hover a {background:#0B101D !important; cursor:pointer;}
ul li:hover ul li a {background: #0B101D !important;}
ul li:hover ul li {background: #0B101D !important;}

li a:hover{color:#0D8A09!important;}


ul li {
    border-style:hidden;
    background-color:#0B101D;
    padding-left: 30px;
    display: inline-block;
    position:relative;
   
}

ul li ul {
    margin-top:5px !important;
    margin-left:-15px;
    z-index:200;
    position:absolute;
    background:black;
    width:150px;
    padding-bottom:5px;
    display: none;
    opacity: 0;
    visibility: hidden;
}

ul li ul a {
    position:relative;
    z-index:220;
    margin-left: -55px;
    color:white;

  
}

ul li ul li {
    background:#0B101D;
    display:block;
    color: #261906;
    padding-top:5px;
}

ul li ul li:hover {
    background-color:#0B101D;
}

ul li:hover ul {
    background:#0B101D;
    display: block;
    opacity: 1;
    visibility: visible;
}

